<div id="project-{{ proj.name }}" class="card h-100 d-block">
    {%- if primaryImage -%}
        <img
                src="{{ primaryImage.path }}"
                class="card-img-top"
                alt="{{ primaryImage.title }}"
        />
    {%- endif -%}
    <div class="card-body">
        <h2 class="card-title">{{ proj.name }}</h2>
        <div class="card-text">
            {%- if proj.start-year and proj.start-year != "" -%}
                <p><b>Project Started</b>: {{ proj.start-year }}</p>
            {%- endif -%} {%- if proj.end-year and proj.end-year != "" -%}
                <p><b>Project Ended</b>: {{ proj.end-year }}</p>
            {%- endif -%} {%- if proj.website != "" -%}
                <div>
                    <p>
                        <b>Project Website</b>:
                        <a
                                href="{{ proj.website }}"
                                target="_blank"
                                rel="noopener noreferrer"
                                title="{{ proj.website }}"
                        >{{ proj.website }}</a
                        >
                    </p>
                </div>
            {%- endif -%} {%- if proj.client and proj.client.name != '' -%}
                <b>Client</b>: {%- if proj.client.website != '' -%}
                    <a
                            href="{{ proj.client.website }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            title="{{ proj.client.website }}"
                    >
                        {{ proj.client.name }}</a
                    >
                {%- else -%} {{ proj.client.name }} {%- endif -%} {%- endif -%}
        </div>
    </div>
    <div class="card-footer container text-center">
        {%- if proj.tags -%}
            <div class="row align-items-center g-2">
                {%- for tag in proj.tags -%}
                    <div class="col-1 mx-2 align-middle">
                        <span class="badge bg-info">{{ tag }}</span>
                    </div>
                {%- endfor -%}
            </div>
        {%- endif -%}
    </div>
</div>
