<div class="home row">
    <div class="post col-md-8 mx-auto" itemscope itemtype="https://schema.org/BlogPosting">

        {%- assign locales = site.data.locales -%}
        {%- assign featuredPosts = paginator.posts | where: "featured", true | sort: "order" -%}
        {%- assign otherPosts = paginator.posts | where: "featured", false -%}

        {%- for fPost in featuredPosts -%}
            {%- include home/post_card.html post=fPost -%}
        {%- endfor -%}

        <hr>

        {%- for oPost in otherPosts -%}
            {%- include home/post_card.html post=oPost -%}
            <br>
        {%- endfor -%}

    </div>
    <div class="vr d-none d-md-block" style="padding: 0;"></div>
    <hr class="d-block d-md-none">
    <div class="col-md-3 mx-auto">
        {%- include sidebar.html -%}
    </div>
</div>
