<aside class="col-lg-3 toc-column" aria-label="Table of contents">
    <button
        id="toc-toggle"
        class="btn btn-outline-secondary w-100 d-lg-none mb-3"
        type="button"
        aria-expanded="false"
        aria-controls="toc-panel">
        <span>On this page</span>
        <i class="bi bi-chevron-down ms-2" aria-hidden="true"></i>
    </button>

    <nav id="toc-panel" class="toc-panel" aria-label="On this page">
        <div class="toc-header">On this page</div>
        <div id="toc-contents"></div>
    </nav>
</aside>
